{% extends 'kids_board/base.html' %}

{% load django_bootstrap5 %}
{% load static %}

{% block title %}Sign Up{% endblock %}

{% block extra_css %}
<style>
    .form-control {
        width: 320px;
        margin-bottom: 15px;
    }
</style> 
{% endblock %}

{% block content %}
    <div class="container mt-5 d-flex flex-column justify-content-center align-items-center">
        <h2 class="text-center mb-4">アカウント作成</h2>
        <p style="color: var(--gray-700);">ファミリーアカウントを作成します</p>

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary mx-0 form-control">
                はじめる
            </button>
        </form>

        <p class="mt-3 text-center" style="color: var(--gray-700);"> 
             すでにアカウントをお持ちですか？
             <a href="{% url 'login' %}">ログイン</a>            
        </p>
    </div>
{% endblock %}