{% load static %}

<!-- ================= settingに入る確認モーダル ================= -->
<div class="modal" id="enterSettingsModal" tabindex="-1" aria-labelledby="enterSettingsModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="enterSettingsModalLabel">せってい</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>おうちのひとと いっしょに そうさしてください。<br>パスワードを にゅうりょくしてください。</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">キャンセル</button>
        <button type="button" class="btn btn-primary" id="enterSettingsButton">OK</button>
      </div>
    </div>
  </div>
</div>

